@font-face {
    font-family: 'CB';
    /*src: url('fonts/cb.ttf');*/
    src: url('/web/res/fonts/cb.ttf');
}

html{
    font-family: 'CB';
    font-size: 24pt;

    /*background: gray;*/
}

.hidden {
    position: absolute;
    color: transparent;
    left: 0;
    top: 0;
}

body {
    background: transparent;
    color:white;
}

img {
    image-rendering: high-quality;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.container {
    text-shadow: 2px 2px 3px black;
}